#{extends 'analitikeIzvodaAjax.html' /}
#{set title:'Analitike izvoda' /}

#{set 'action'}
	@{AnalitikeIzvoda.filter()}
#{/set}

<script>
$(document).ready(function(){

	$("#dnevnoStanjeRacunaPickup").click(function(){
		dsr_id = $(".highlighted").find(".dsr_id").html();
		$("select").val(dsr_id);
		$('#dnevnaStanjaRacunaModal').modal('toggle');
	});

	$('#datumAnalitike').datepicker({dateFormat: "dd-mm-yy"}).val();
	$('#datumPrijema').datepicker({dateFormat: "dd-mm-yy"}).val();
	$('#datumValute').datepicker({dateFormat: "dd-mm-yy"}).val();
});


function sync(item){
	datumAnalitike = item.find(".datumAnalitike").html()
    smer = item.find(".smer").html()
    duznikNalogodavac = item.find(".duznikNalogodavac").html()
    svrhaPlacanja = item.find(".svrhaPlacanja").html()
    poverilacPrimalac = item.find(".poverilacPrimalac").html()
    datumPrijema = item.find(".datumPrijema").html()
    datumValute = item.find(".datumValute").html()
    racunDuznika = item.find(".racunDuznika").html()
    modelZaduzenja = item.find(".modelZaduzenja").html()
    pozivNaBrojZaduzenja = item.find(".pozivNaBrojZaduzenja").html()
    racunPoverioca = item.find(".racunPoverioca").html()
    modelOdobrenja = item.find(".modelOdobrenja").html()
    pozivNaBrojOdobrenja = item.find(".pozivNaBrojOdobrenja").html()
    hitno = item.find(".hitno?").html()
    iznos = item.find(".iznos").html()
    tipGreske = item.find(".tipGreske").html()
    status = item.find(".status").html()
    dnevnoStanjeRacuna = item.find(".dnevnoStanjeRacuna").html();
    id = item.find(".id").html()
    $("#datumAnalitike").val(datumAnalitike);
    $("#smer").val(smer);
    $("#duznikNalogodavac").val(duznikNalogodavac);
    $("#svrhaPlacanja").val(svrhaPlacanja);
    $("#poverilacPrimalac").val(poverilacPrimalac);
    $("#datumPrijema").val(datumPrijema);
    $("#datumValute").val(datumValute);
    $("#racunDuznika").val(racunDuznika);
    $("#modelZaduzenja").val(modelZaduzenja);
    $("#pozivNaBrojZaduzenja").val(pozivNaBrojZaduzenja);
    $("#racunPoverioca").val(racunPoverioca);
    $("#modelOdobrenja").val(modelOdobrenja);
    $("#pozivNaBrojOdobrenja").val(pozivNaBrojOdobrenja);
    if (hitno == "true") {
    	$("#hitno").attr("checked", true);	
    } else {
    	$("#hitno").attr("checked", false);
    }
    $("#iznos").val(iznos);
    $("#tipGreske").val(tipGreske);
    $("#status").val(status);
    $("#id").val(id);
    $("select").val(dsr_id);
}

</script>

<div class="container">

<p>
<ul class="tb-ulist">
  <li class="tb-listitem"><a id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li class="tb-listitem"><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li class="tb-listitem"><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li class="tb-listitem"><a id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li class="tb-listitem"><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li data-toggle="tooltip" title="Import naloga"><a href="#" id = "export" data-toggle="modal" data-target="#importModal"><img src="@{'/public/images/import-naloga.png'}"/></a></li>
</ul>
</p>

<h1>Analitika izvoda</h1>

<table>
	<tr class = "header">
	   <th>Datum analitike</th> 
	   <th>Smer</th>
	   <th>Duznik/nalogodavac</th>
	   <th>Svrha placanja</th>
	   <th>Poverilac/primalac</th>
	   <th>Datum prijema</th>
	   <th>Datum valute</th>
	   <th>Racun duznika</th>
	   <th>Model zaduzenja</th>
	   <th>Poziv na broj zaduzenja</th>
	   <th>Racun poverioca</th>
	   <th>Model odobrenja</th>
	   <th>Poziv na broj odobrenja</th>
	   <th>Hitno?</th>
	   <th>Iznos</th>
	   <th>Tip greske</th>
	   <th>Status</th>
	   <th>Dnevno stanje racuna</th>
	</tr>
#{list items:analitikeIzvoda, as:'analitikaIzvoda'}
%{
  num=analitikaIzvoda.id;
  analitikaIzvodaId=num.toString();
}%
	<tr  #{if session.s == analitikaIzvodaId} class = "highlighted" #{/if}>
		<td class = "datumAnalitike">#{if analitikaIzvoda.datumAnalitike} ${analitikaIzvoda.datumAnalitike.format()} #{/if}</td>
		<td class = "smer">${analitikaIzvoda.smer}</td>
		<td class = "duznikNalogodavac">${analitikaIzvoda.duznikNalogodavac}</td>
		<td class = "svrhaPlacanja">${analitikaIzvoda.svrhaPlacanja}</td>
		<td class = "poverilacPrimalac">${analitikaIzvoda.poverilacPrimalac}</td>
		<td class = "datumPrijema">#{if analitikaIzvoda.datumPrijema} ${analitikaIzvoda.datumPrijema.format()} #{/if}</td>
		<td class = "datumValute">#{if analitikaIzvoda.datumValute} ${analitikaIzvoda.datumValute.format()} #{/if}</td>
		<td class = "racunDuznika">${analitikaIzvoda.racunDuznika}</td>
		<td class = "modelZaduzenja">${analitikaIzvoda.modelZaduzenja}</td>
		<td class = "pozivNaBrojZaduzenja">${analitikaIzvoda.pozivNaBrojZaduzenja}</td>
		n<td class = "racunPoverioca">${analitikaIzvoda.racunPoverioca}</td>
		<td class = "modelOdobrenja">${analitikaIzvoda.modelOdobrenja}</td>
		<td class = "pozivNaBrojOdobrenja">${analitikaIzvoda.pozivNaBrojOdobrenja}</td>
		<td class = "hitno">#{if analitikaIzvoda.hitno} Da #{/if}#{else} Ne #{/else}</td>
		<td class = "iznos">${analitikaIzvoda.iznos}</td>
		<td class = "tipGreske">${analitikaIzvoda.tipGreske}</td>
		<td class = "status">${analitikaIzvoda.status}</td>
		<td class = "dnevnoStanjeRacuna">#{if analitikaIzvoda.dnevnoStanjeRacuna}${analitikaIzvoda.dnevnoStanjeRacuna.datum.format()}#{/if}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${analitikaIzvoda.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "dsr_id">>#{if analitikaIzvoda.dnevnoStanjeRacuna}${analitikaIzvoda.dnevnoStanjeRacuna.id}#{/if}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "hitno?">${analitikaIzvoda.hitno}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	<form action=${action} method = "post">
		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'datumAnalitike'}
					<label for = "${field.id}">Datum analitike</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'smer'}
					<label for = "${field.id}">Smer</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'duznikNalogodavac'}
					<label for = "${field.id}">Duznik/nalogodavac</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'svrhaPlacanja'}
					<label for = "${field.id}">Poverilac/primalac</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'datumPrijema'}
					<label for = "${field.id}">Datum prijema</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'datumValute'}
					<label for = "${field.id}">Datum valute</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'racunDuznika'}
					<label for = "${field.id}">Racun duznika</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'modelZaduzenja'}
					<label for = "${field.id}">Model zaduzenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'pozivNaBrojZaduzenja'}
					<label for = "${field.id}">Poziv na broj zaduzenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'racunPoverioca'}
					<label for = "${field.id}">Racun poverioca</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'modelOdobrenja'}
					<label for = "${field.id}">Model odobrenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'pozivNaBrojOdobrenja'}
					<label for = "${field.id}">Poziv na broj odobrenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'hitno'}
					<label for = "${field.id}">Hitno?</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'iznos'}
					<label for = "${field.id}">Iznos</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'tipGreske'}
					<label for = "${field.id}">Tip greske</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'status'}
					<label for = "${field.id}">Status</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				<p>
				#{field 'dnevnoStanjeRacuna'}
					<label for = "${field.id}">Dnevno stanje racuna</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:dnevnaStanjaRacuna, as:'dnevnoStanjeRacuna'}
					<option value = "${dnevnoStanjeRacuna.id}">${dnevnoStanjeRacuna.datum.format()}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#dnevnaStanjaRacunaModal">... </button>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em"></a>
				</div>			
		</form>
	</p>
</div>


<!-- Import stavki Modal -->
	  <div class="modal fade" id="importModal" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div style="width: 100%; margin-left: 0%" class="modal-content">
	      <div class="modal-header">
	      	Import naloga
	      </div>
	      <div class="modal-body">
	      
    			#{form @AnalitikeIzvoda.uploadxml(), enctype:'multipart/form-data'}
    				<input type="file" id="stavkeplacanja" name="stavkeplacanja" multiple/>    	
    				<!--<label for="nalogodavac"> Nalogodavac: </label>	-->	
    				<!--<select name = "nalogodavac" id = "nalogodavac">
    					<option value = ""></option>
						<option value = "duznik">duznik</option>	
						<option value = "poverilac">poverilac</option>
					</select> -->
    			
    				<input type="submit" value="Potvrda" />
				#{/}
			</div>
	      </div>
	    </div>
	   </div>

 <!-- Modal -->
 	<div class="modal fade" id="dnevnaStanjaRacunaModal" role="dialog">
  	<div class="modal-dialog">
    	<div class="modal-content">
    		 <div class="modal-header">
      	Dnevno stanje racuna
      </div>
      <div class="modal-body">
      	<div>
      	<p>
      	<input oninput="w3.filterHTML('#tableD', '.item', this.value)">
      	</p>
      	</div>
	    <table style = "padding:2em" id="tableD">
		<tr class = "header">
		   <th>Datum</th> 
		   <th>Prethodno stanje</th>
		   <th>Promet na teret</th>
		   <th>Promet u korist</th>
		   <th>Novo stanje</th>
		</tr>
		#{list items:dnevnaStanjaRacuna, as:'dnevnoStanjeRacuna'}
		<tr class = "item">
			<td class = "dsr_datum">#{if dnevnoStanjeRacuna.datum} ${dnevnoStanjeRacuna.datum.format()} #{/if}</td>
			<td class = "dsr_prethodnoStanje">${dnevnoStanjeRacuna.prethodnoStanje}</td>
			<td class = "dsr_prometNaTeret">${dnevnoStanjeRacuna.prometNaTeret}</td>
			<td class = "dsr_prometUKorist">${dnevnoStanjeRacuna.prometUKorist}</td>
			<td class = "dsr_novoStanje">${dnevnoStanjeRacuna.novoStanje}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "dsr_id">${dnevnoStanjeRacuna.id}</td>
		</tr>
		#{/list}
		</table>
	
		<div class="modal-footer">
			<input id = "dnevnoStanjeRacunaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
    	</div>
  	</div>
	</div>
</div>
</div>


	

</div>
