#{extends 'main.html'/}
#{set title:'Spisak računa' /}

<script>
$(document).ready(function(){
	$("#bankaPickup").click(function(){
		ba_id = $(".highlighted").find(".ba_id").html();
		$("select").val(ba_id);
		$('#bankeModal').modal('toggle');
	});
	
	$('#datum').datepicker({dateFormat: "dd-mm-yy"}).val();
});
</script>

<div id="promenaLozinke">
	
	<h1 align="center">Spisak računa</h1>
			<form action="@{SpisakRacuna.getReport()}" method = "post">
				<p>
				#{field 'banka'}
					<label for = "${field.id}">Banka</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:banke, as:'banka'}
					<option value = "${banka.id}">${banka.nazivBanke}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#bankeModal">... </button>
				#{/}
				</p>
				<p>
				#{field 'datum'}
					<label for = "${field.id}">Datum</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error field.name /}</span>
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
				</div>
				
			</form>
	
</div>

<div class="modal fade" id="bankeModal" role="dialog">
  	<div class="modal-dialog">
    	<div class="modal-content">
    		 <div class="modal-header">
      	Banke
      </div>
      <div class="modal-body">
      	<div>
      	<p>
      	<input oninput="w3.filterHTML('#tableD', '.item', this.value)">
      	</p>
      	</div>
	    <table style = "padding:2em" id="tableD">
		<tr class = "header">
		   <th>Naziv Banke</th>
		   <th>Sifra Banke</th>
		   <th>Swift kod</th>
		   <th>Obracunski racun</th> 
		</tr>
		#{list items:banke, as:'banka'}
		<tr class = "item">
			<td class = "ba_nazivBanke">${banka.nazivBanke}</td>
			<td class = "ba_sifraBanke">${banka.sifraBanke}</td>
			<td class = "ba_swiftKod">${banka.swiftKod}</td>
			<td class = "ba_obracunskiRacun">${banka.obracunskiRacun}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "ba_id">${banka.id}</td>
		</tr>
		#{/list}
		</table>
	
		<div class="modal-footer">
			<input id = "bankaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
    	</div>
  	</div>
	</div>