#{extends 'standardForm.html' /}
<script>


function search() {
	var showRoute = #{jsRoute @AnalitikeIzvoda.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/AnalitikeIzvoda/show';
	}
	});
}


function refresh() {
	var showRoute = #{jsRoute @AnalitikeIzvoda.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/AnalitikeIzvoda/show';
	}
	});
}

function searchlocked(id) {
	var showRoute = #{jsRoute @AnalitikeIzvoda.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search', 's': '0', 'id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/AnalitikeIzvoda/shownext';
	}
	});
}


function refreshlocked(id) {
	var showRoute = #{jsRoute @AnalitikeIzvoda.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search', 's': '0', 'id': id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/AnalitikeIzvoda/shownext';
	}
	});
}

$(document).ready(function(){
$("#rollback").click(function() {
	var showRoute = #{jsRoute @AnalitikeIzvoda.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'edit', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/AnalitikeIzvoda/show';
	}
	});
});
});
</script>
#{doLayout/}