#{extends 'standardForm.html' /}
<script>


function search() {
	var showRoute = #{jsRoute @DnevnaStanjaRacuna.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/DnevnaStanjaRacuna/show';
	}
	});
}


function refresh() {
	var showRoute = #{jsRoute @DnevnaStanjaRacuna.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/DnevnaStanjaRacuna/show';
	}
	});
}

function searchlocked(id) {
	var showRoute = #{jsRoute @DnevnaStanjaRacuna.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search', 's': '0', 'id': id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/DnevnaStanjaRacuna/shownext';
	}
	});
}


function refresh(id) {
	var showRoute = #{jsRoute @DnevnaStanjaRacuna.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search', 's': '0', 'id': id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/DnevnaStanjaRacuna/shownext';
	}
	});
}

</script>


#{doLayout/}