#{extends 'standardForm.html' /}
<script>
function addlocked(id) {
	var showRoute = #{jsRoute @Klijenti.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked add', 's': '0', 'id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/shownext';
	}
	});
}

function add() {
	var showRoute = #{jsRoute @Klijenti.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'add', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/show';
	}
	});
}

function searchlocked(id) {
	var showRoute = #{jsRoute @Klijenti.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search', 's': '0', 'id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/shownext';
	}
	});
}

function search() {
	var showRoute = #{jsRoute @Klijenti.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/show';
	}
	});
}

function refreshlocked(id) {
	var showRoute = #{jsRoute @Klijenti.shownext() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked edit', 's': '0', 'id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/shownext';
	}
	});
}

function refresh() {
	var showRoute = #{jsRoute @Klijenti.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'edit', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/klijenti/show';
	}
	});
}

</script>


#{doLayout/}