<script>
function nm() {
	var showRoute = #{jsRoute @NaseljenaMesta.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{NaseljenaMesta.show().secure()}"); 
		}
	});
}

function d() {
	var showRoute = #{jsRoute @Drzave.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Drzave.show().secure()}"); 
		}
	});
}

function z() {
	var showRoute = #{jsRoute @Zaposlenii.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'search', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Zaposlenii.show().secure()}"); 
		}
	});
}
function pl() {
	var showRoute = #{jsRoute @Zaposlenii.promenaLozinke() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		success: function(){
			window.location.replace("@{Zaposlenii.promenaLozinke().secure()}"); 
		}
	});
}

function a() {
	var showRoute = #{jsRoute @AnalitikeIzvoda.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{AnalitikeIzvoda.show().secure()}"); 
		}
	});
}
function mp() {
	var showRoute = #{jsRoute @MedjubankarskiPrenosi.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'search', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{MedjubankarskiPrenosi.show().secure()}"); 
		}
	});
}
function sp() {
	var showRoute = #{jsRoute @StavkePrenosa.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'search', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{StavkePrenosa.show().secure()}"); 
		}
	});
}
function zr() {
	var showRoute = #{jsRoute @ZatvaranjaRacuna.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'search', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{ZatvaranjaRacuna.show().secure()}"); 
		}
	});
}
function r() {
	var showRoute = #{jsRoute @Racuni.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Racuni.show().secure()}"); 
		}
	});
}

function r() {
	var showRoute = #{jsRoute @Racuni.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Racuni.show().secure()}"); 
		}
	});
}

function v() {
	var showRoute = #{jsRoute @Valute.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Valute.show().secure()}"); 
		}
	});
}

function sd() {
	var showRoute = #{jsRoute @SifrarniciDelatnosti.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{SifrarniciDelatnosti.show().secure()}"); 
		}
	});
}

function k() {
	var showRoute = #{jsRoute @Klijenti.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Klijenti.show().secure()}"); 
		}
	});
}

function b() {
	var showRoute = #{jsRoute @Banke.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{Banke.show().secure()}"); 
		}
	});
}

function dsr() {
	var showRoute = #{jsRoute @DnevnaStanjaRacuna.show() /}
	$.ajax({
		method:"GET",
		url: showRoute.url(),
		type: showRoute.method,
		data: {'mode': 'edit', 's': '0'},
		dataType: "html",
		success: function(){
			window.location.replace("@{DnevnaStanjaRacuna.show().secure()}"); 
		}
	});
}


</script>

<ul class="nav nav-pills">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@{Application.index().secure()}" role="button" aria-haspopup="true" aria-expanded="false">Poslovna Banka</a>
    <div class="dropdown-menu">

	<a class="dropdown-item" href="javascript:b()">Banke</a>
       <a class="dropdown-item" href="javascript:r()">Racuni</a>
      <a class="dropdown-item" href="javascript:d()">Drzave</a>
      <a class="dropdown-item" href="javascript:nm()">Naseljena Mesta</a>
      <a class="dropdown-item" href="javascript:a()">Analitika izvoda</a>
      <a class="dropdown-item" href="javascript:mp()">Medjubankarski prenos</a>
      <a class="dropdown-item" href="javascript:sp()">Stvake prenosa</a>
      <a class="dropdown-item" href="javascript:zr()">Zatvaranje racuna</a>
      #{deadbolt.restrict roles:[['zaposleni.view']]}
      <a class="dropdown-item" href="javascript:z()">Zaposleni</a>
      #{/deadbolt.restrict}
      <a class="dropdown-item" href="javascript:v()">Valute</a>
      <a class="dropdown-item" href="javascript:sd()">Sifrarnik delatnosti</a>
      <a class="dropdown-item" href="javascript:k()">Klijenti</a>
      <a class="dropdown-item" href="javascript:dsr()">Dnevna stanja racuna</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:pl()">Promena lozinke</a>
      <a class="dropdown-item" href="/logout">Odjava</a>
    </div>
  </li>
</ul>