<!DOCTYPE html>

<html>
    <head>
    	<title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        #{get 'moreStyles' /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="@{'/public/javascripts/jquery-3.1.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/w3.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        #{get 'moreScripts' /}
        
           
    </head>
    <body>
      	  #{include 'mainAjax.html' /}
	
          #{doLayout /}
    </body>
</html>
