<!DOCTYPE html>

<html>
    <head>
    	<title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">
        #{get 'moreStyles' /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="@{'/public/javascripts/jquery-3.1.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/w3.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
           
    </head>
    <body>
      
      <nav class="navbar navbar-light bg-faded">  
 	 	<a class="navbar-brand" href="@{Application.index()}">
 	 		Poslovna Banka
 	 	</a>
 	 	
 	 	
        <a class="navbar-brand" href="@{Drzave.show()}">Države</a>
        <a class="navbar-brand" href="@{NaseljenaMesta.show()}">Naseljena Mesta</a>
        #{deadbolt.restrict roles:[['zaposleni.view']]}
        <a class="navbar-brand" href="@{Zaposlenii.show()}">Zaposleni</a>
        #{/deadbolt.restrict}
        <a href="@{Zaposlenii.promenaLozinke()}">Promena lozinke</a>
        <a href="/logout">Odjava</a>
	  </nav>
	
          #{doLayout /}
    </body>
</html>
