#{extends 'standardForm.html' /}
<script>
function addlockedBanka(id) {
	var showRoute = #{jsRoute @Racuni.shownextBanka() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked add for Banka', 's': '0', 'b_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextBanka';
	}
	});
}

function addlockedKlijent(id) {
	var showRoute = #{jsRoute @Racuni.shownextKlijent() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked add for Klijent', 's': '0', 'k_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextKlijent';
	}
	});
}

function addlockedValuta(id) {
	var showRoute = #{jsRoute @Racuni.shownextValuta() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked add for Valuta', 's': '0', 'v_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextValuta';
	}
	});
}

function add() {
	var showRoute = #{jsRoute @Racuni.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'add', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/show';
	}
	});
}

function searchlockedBanka(id) {
	var showRoute = #{jsRoute @Racuni.shownextBanka() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search for Banka', 's': '0', 'b_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextBanka';
	}
	});
}

function searchlockedKlijent(id) {
	var showRoute = #{jsRoute @Racuni.shownextKlijent() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search for Klijent', 's': '0', 'k_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextKlijent';
	}
	});
}

function searchlockedValuta(id) {
	var showRoute = #{jsRoute @Racuni.shownextValuta() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked search for Valuta', 's': '0', 'v_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextValuta';
	}
	});
}

function search() {
	var showRoute = #{jsRoute @Racuni.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/show';
	}
	});
}

function refreshlockedBanka(id) {
	var showRoute = #{jsRoute @Racuni.shownextBanka() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked edit for Banka', 's': '0', 'b_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextBanka';
	}
	});
}

function refreshlockedKlijent(id) {
	var showRoute = #{jsRoute @Racuni.shownextKlijent() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked edit for Klijent', 's': '0', 'k_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextKlijent';
	}
	});
}

function refreshlockedValuta(id) {
	var showRoute = #{jsRoute @Racuni.shownextValuta() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'locked edit for Valuta', 's': '0', 'v_id':id},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/shownextValuta';
	}
	});
}


function refresh() {
	var showRoute = #{jsRoute @Racuni.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'edit', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/racuni/show';
	}
	});
}

</script>


#{doLayout/}