#{extends 'standardForm.html' /}
<script>


function search() {
	var showRoute = #{jsRoute @StavkePrenosa.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/stavkePrenosa/show';
	}
	});
}

function refresh() {
	var showRoute = #{jsRoute @StavkePrenosa.show() /}
	$.ajax({
	method:"GET",
	url: showRoute.url(),
	type: showRoute.method,
	data: {'mode': 'search', 's': '0'},
	dataType: "html",
	success: function(){
		window.location.href = 'http://localhost:8080/stavkePrenosa/show';
	}
	});
}

</script>


#{doLayout/}